body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.resize-drag {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;
 
  touch-action: none;
 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  /* width: 120px; */

  /* This makes things *much* easier */
  box-sizing: border-box;
  /* display: inline-block; */
  position: absolute;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  margin: 0;
  padding: 0;
}

#samples-count, #true-negative-count {
  background-color: #777;
  color: #fff;
}

#all-samples {
  background-color: rgba(0,0,0,0.5);
}

#positive-samples-count {
  color: #fff;
  background-color: rgb(204, 67, 68);
}

#positive {
  background-color: rgba(255, 0, 0, 0.5);
}

#classified-positive {
  background-color: rgba(0, 255, 0, 0.5);
  align-items: flex-end;
  display: flex;
}

#classified-positive-samples-count {
  background-color: rgb(42, 191, 67);
  color: #fff;
}

#true-positive-count {
  background-color: rgb(133, 171, 24);
  color: #fff;
}

.label {
  font-weight: bold;
}

.metric {
  color: rgb(37, 37, 219);
  padding: .2em;
  display: inline-block;
  min-width: 6em;
}

h1 {
  margin: 10px 10px;
  line-height: 0.5em;
  font-size: 200%;
  display: block
}

h2 {
  margin: 10px 10px;
  line-height: 0.5em;
  font-size: 100%;
  display: block
}

table td:last-child {
  width: 100%;
}

tr {
  border-bottom: solid 2px #000;
}

tr:hover {
  border-bottom: solid 2px #f99;
}

table { 
  border-collapse: collapse; 
  margin: 0em 1em;
}
